/* amatic-sc-700 - latin */
@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    src: url('../static/fonts/amatic-sc-v16-latin-700.woff') format('woff'); /* Modern Browsers */
         
  }

* {
  box-sizing: border-box;
}

nav {
  text-align: center;
}
nav li {
  background-color: forestgreen;
  display: inline-block;
  width: 80px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}

h1 {
  color: forestgreen;
  font-family: 'Amatic SC';
  border: 1px solid black;
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 54px;
}