/* amatic-sc-regular - latin */
@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: url('../static/fonts/amatic-sc-v16-latin-regular.woff') format('woff'); /* Modern Browsers */         
         
  }
  /* amatic-sc-700 - latin */
@font-face {
    font-family: 'Amatic SC Bold';
    font-style: bold;
    font-weight: 700;
    src: url('../static/fonts/amatic-sc-v16-latin-700.woff') format('woff'); /* Modern Browsers */
         
  }

h1 {
    color: forestgreen;
}